<div class="container mt-2">
    <div class="row">
        <div class="col">
            <app-title *ngFor="let game of games" [gameTitle]="game"></app-title>
        </div>
    </div>
    <div class="row" *ngIf="whatQ()==0">
        <button class="btn btn-success" (click)="startGame()">Start Game</button>
    </div>
    <div class="row" *ngIf="whatQ()>=4">
        <button class="btn btn-danger" (click)="endGame()">End of Game</button>
    </div>
    <div class="row" *ngIf="whatQ()!=0 && whatQ()!=-1">
        <div class="col">
            <h4>Moment Type:</h4>
            <mat-button-toggle-group name="type" aria-label="Font Style" #momentType="matButtonToggleGroup">
                <mat-button-toggle value="score">Score</mat-button-toggle>
                <mat-button-toggle value="end">End of Quarter</mat-button-toggle>
            </mat-button-toggle-group>
            <div *ngIf="momentType.value=='end'">
                <p>End Quarter {{ quarter }}, score is {{ getScore(1) }} : {{ getScore(0) }}</p>
                <button class="ml-4" mat-flat-button color="primary" (click)="endQuarter()">UPDATE</button>
            </div>
            <div *ngIf="momentType.value=='score'">
            <br>
            <h4>Team:</h4>
            <mat-button-toggle-group name="homeAway" aria-label="Font Style" [(ngModel)]="isHomeTeam">
                <mat-button-toggle [value]=false>Away</mat-button-toggle>
                <mat-button-toggle [value]=true>Home</mat-button-toggle>
            </mat-button-toggle-group>
            <br>
            <h4>Score:</h4>
            <mat-button-toggle-group name="score" aria-label="Font Style" [(ngModel)]="score" #scoreType="matButtonToggleGroup">
                <mat-button-toggle [value]=ScoreType.TD>Touchdown</mat-button-toggle>
                <mat-button-toggle [value]=ScoreType.FG>Field Goal</mat-button-toggle>
                <mat-button-toggle [value]=ScoreType.SAFETY>Safety</mat-button-toggle>
            </mat-button-toggle-group>
            <br>
            <app-td-info *ngIf="scoreType.value == ScoreType.TD" (onTdDetailsAdded)="onTdAdded($event)"></app-td-info>
            <app-fg-info *ngIf="scoreType.value == ScoreType.FG" (onFgDetailsAdded)="onFgAdded($event)"></app-fg-info>
            <app-s-info *ngIf="scoreType.value == ScoreType.SAFETY" (onSDetailsAdded)="onSAdded($event)"></app-s-info>
            <br>

            </div>
        </div>
    </div>
</div>
