<div class="card text-center game-card mt-1 border-0">
    <div class="card-body">
        <h4 class="text-sch-darker">Shamrock bowl conference</h4>
        <div class="row">
            <div class="col-4">
                <div class="row">
                    <div class="col">
                        <img src="../../assets/images/{{ game.away.logo }}" alt="" width="45" height="45">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {{ game.away.name }}
                    </div>
                </div>
            </div>
            <div class="col-4 score align-middle">
                {{ game.away.score }} : {{ game.home.score }}
            </div>
            <div class="col-4 justify-content-center">
                <div class="row">
                    <div class="col">
                        <img src="../../assets/images/{{ game.home.logo }}" alt="" width="45" height="45">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {{ game.home.name }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
