.game-header{
    font-size: 1rem;
}
.backArrow{
    font-size: 3rem;
    color: white;
}

.top-bar{
    background: #329d9c;
    border-bottom-left-radius: 50px;
}

.mat-button-toggle-checked{
    background-color: #329d9c !important;
}

.mat-button-toggle{
    background-color: #228195;
    font-size: 1.1rem;
}

.selector-box{
    border: none;
    background-color: #228195;
}



