<app-header></app-header>
<div class="container mt-5">
    <div class="row">
        <div class="col-sm-12 col-lg-8 mt-3">
            <div class="row">
                <div class="col-2 text-sch-darker" (click)="lastWeek()"><mat-icon>navigate_before</mat-icon></div>
                <div class="col-8 text-center text-sch-darker font-larger">{{ dateFrom | date: 'MMM dd' }} - {{ dateTo | date: 'MMM dd' }}</div>
                <div class="col-2 text-right text-sch-darker" (click)="nextWeek()"><mat-icon>navigate_next</mat-icon></div>
            </div>
            <div class="row pointer my-3 justify-content-center" 
            *ngFor="let game of games" 
            (click)="selectAGame(game)">
                <div class="card text-center game-card" style="width: 95%;">
                    <div class="card-body">
                        <h4 class="text-sch-darker">{{ game.ko.toDate() | date: 'MMM dd HH:mm' }}</h4>
                        <div class="row">
                            <div class="col-4">
                                <div class="row">
                                    <div class="col">
                                        <img src="../../assets/images/{{ game.away.logo }}" alt="" width="45" height="45">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        {{ game.away.name }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 score align-middle">
                                {{ game.away.score }} : {{ game.home.score }}
                            </div>
                            <div class="col-4 justify-content-center">
                                <div class="row">
                                    <div class="col">
                                        <img src="../../assets/images/{{ game.home.logo }}" alt="" width="45" height="45">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        {{ game.home.name }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>


<!-- 
    <div class="col-2 border-right">{{ game.payload.doc.data().ko.toDate() | date: 'HH:mm' }}</div>
    <div class="col-4 text-right">{{ game.payload.doc.data().away.name }} <img src="../../assets/images/{{ game.payload.doc.data().away.logo }}" alt="" width="25" height="25"></div>
    <div>{{ game.payload.doc.data().away.score }} : {{ game.payload.doc.data().home.score }}</div>
    <div class="col-4 text-left"> <img src="../../assets/images/{{ game.payload.doc.data().home.logo }}" alt="" width="25" height="25">{{ game.payload.doc.data().home.name }}</div>
 -->