.pointer{
    cursor: pointer;
}
.league-header{
    background-color: #AEBDC1;
}

.score{
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-card{
    -webkit-box-shadow: 0px 3px 15px -2px #000000; 
    box-shadow: 0px 3px 15px -2px #000000;
}