<mat-form-field>
    <mat-label>Type</mat-label>
    <mat-select [(value)]="tdType">
        <mat-option value="TD Pass">Pass</mat-option>
        <mat-option value="TD Run">Run</mat-option>
        <mat-option value="TD P6">Pick 6</mat-option>
        <mat-option value="TD FR">Fumble</mat-option>
        <mat-option value="TD PR">Punt Return</mat-option>
        <mat-option value="TD KR">Kick Return</mat-option>
    </mat-select>
</mat-form-field>
<br>
<mat-form-field>
    <mat-label>Player</mat-label>
    <input matInput [(ngModel)]="player">
</mat-form-field>
<mat-form-field>
    <mat-label>Player #</mat-label>
    <input matInput type="number" [(ngModel)]="playerNum">
</mat-form-field>
<br>
<mat-form-field>
    <mat-label>Distance</mat-label>
    <input matInput type="number" [(ngModel)]="distance">
</mat-form-field>
<br>
<div *ngIf="tdType=='TD Pass'">
    <mat-form-field>
        <mat-label>Passer</mat-label>
        <input matInput [(ngModel)]="passer">
    </mat-form-field>
</div>
<br>
<mat-button-toggle-group name="ptAfter" aria-label="Font Style" [(ngModel)]="ptAfter">
    <mat-button-toggle [value]=1>Made XP</mat-button-toggle>
    <mat-button-toggle [value]=0>Missed XP</mat-button-toggle>
    <mat-button-toggle [value]=2>Made 2pt</mat-button-toggle>
    <mat-button-toggle [value]=3>Missed 2pt</mat-button-toggle>
</mat-button-toggle-group>
<div *ngIf="ptAfter==1 || ptAfter==2">
    <br>
    <mat-form-field>
        <mat-label>Player</mat-label>
        <input matInput [(ngModel)]="ptaPlayer">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Player #</mat-label>
        <input matInput type="number" [(ngModel)]="ptaPlayerNum">
    </mat-form-field>
</div>
<br>
<button class="ml-4" mat-flat-button color="primary" *ngIf="ptAfter!=null" (click)="addScore()">ADD</button>
