<div class="row my-2 mx-1" *ngIf="!detail.homeTeam">
    <div class="col-12">
        <div class="row">
            <div class="col-2 text-center">{{ detail.scoreDetail }}</div>
            <div class="col-3 text-center">{{ detail.player }}</div>
            <div class="col-2 text-center">{{ detail.score }}</div>
        </div>
    </div>    
</div>
<div class="row my-2 mx-1" *ngIf="detail.homeTeam">
    <div class="col-12">
        <div class="row">
            <div class="col-5"></div>
            <div class="col-2 text-center">{{ detail.score }}</div>
            <div class="col-3 text-center">{{ detail.player }}</div>
            <div class="col-2 text-center">{{ detail.scoreDetail }}</div>
        </div>
    </div>    
</div>


